
@{
    ViewBag.Title = "Index";
}



<div class="jumbotron">

    <img width="100%" src="~/Content/Images/1.jpg" />
    <h2 class="text-center text-justify">Stella Hotel</h2>
    <p>
        Stella Hotel is located in the heart of Kyiv - on the Independence Square, in a unique place where the cultural, political and entertainment life of the city intersects. Not far from the hotel there is the Secretariat of the President of Ukraine, the Cabinet of Ministers, the National Philharmonic, the St. Sophia Cathedral, the St. Michael's Golden-Domed Cathedral, the Mariinsky Palace and the park, the most famous Kiev theaters, night clubs and large shopping centers.
    </p>
    <p>
        The architecture of the hotel building is like the crown of the central square of Kyiv - Maidan Nezalezhnosti - a favorite resting-place for Kyivans and guests of the city, a place for parades and cultural events.
    </p>
    <p>
        Your stay at the «Ukraine» hotel will be most enjoyable with our 367 rooms refurbished to elegant and spacious style to ensure your comfort, the rooms offer the spectacular panoramic view on the main street of the city – Khreshchatyk. It should be noted that our hotel offer a unique view on the famous ancient memorial Old Kiev Hill (Starokievsky Holm), Saint Sophia Cathedral is an outstanding architectural pearl of the heritage of Ukrainians, St. Michael's Cathedral and also our hotel will inspire you with exuding magnificence view on the Kiev city.
    </p>
    <p>
        The «Ukraine» hotel is the city`s most recognisable feature. We are chosen by influential politicians, diplomats, famous actors, outstanding artists and athletes. To return to our hotel is a good tradition, because our Guests are always welcome here. It is easy to get to us from any point in the city. All types of public transport are concentrated close to the hotel, in case you want to get to know the capital more closely or plan a business meeting.
    </p>

    <h2>Rooms</h2>
    <h2 class="text-center">Service</h2>

    <table class="table">

        <tbody class="text-center">
            <tr>
                <td>
                    <img src="~/Content/Images/wifi.png" width="100" />
                </td>
                <td>
                    <img src="~/Content/Images/банкомат.jpeg" width="100" />
                </td>
                <td>
                    <img src="~/Content/Images/парковка.jpg" width="100" />
                </td>
                <td>
                    <img src="~/Content/Images/салон красоты.jpg" width="100" />
                </td>
                <td>
                    <img src="~/Content/Images/стиралка.jpg" width="100" />
                </td>
            </tr>
            <tr>
                <td>Wi-Fi</td>
                <td>ATM</td>
                <td>Parking</td>
                <td>Washhouse</td>
                <td>Beauty Shop</td>
            </tr>
        </tbody>
    </table>

</div>